#form1{
    background-color: cornsilk;
    background-size: auto;
    padding: auto;
    border: darkgrey;
    border-radius: auto;
    width: auto;
    height: auto;
    margin-left: 01%;
    margin-right: 01%;
    border-left: 10px ,black;
    font-size: larger;
    text-align: justify;
}